{% extends 'layout/base.html' %}
{% load static %}

{% block content %} 

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/charts.css' %}">
    </head>
    <body>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div id="timeline"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="radar"></div>
        </div>
        <div class="col-md-6">
            <div id="scatter"></div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div id="boxplot"></div>
    </div>
</div>
    </body>
    <script src="{% static 'scripts/charts.js' %}"></script>
</html>
        
{% endblock content %}