/* Grid Start */
body{
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "side header"
    "side main";
    background-color: #060b01;
}